__pycache__/
*.pyc
*.egg-info
.eggs/
.pytest_cache/
.cache/
CMakeFiles/
cpp/Makefile
cpp/include/vrtgen/enums.hpp
cpp/include/vrtgen/packing/*.hpp
cpp/test_libvrtgen
CMakeCache.txt
cmake_install.cmake
cpp/build
.vscode
examples/*/*pp*
