/*#
 * Copyright (C) 2022 Geon Technologies, LLC
 *
 * This file is part of vrtgen.
 *
 * vrtgen is free software: you can redistribute it and/or modify it under the
 * terms of the GNU Lesser General Public License as published by the Free
 * Software Foundation, either version 3 of the License, or (at your option)
 * any later version.
 *
 * vrtgen is distributed in the hope that it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for
 * more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program.  If not, see http://www.gnu.org/licenses/.
#*/

{%- macro message_id_defs(packet, type_helper) %}
{{ type_helper.value_type(packet.message_id) }} {{ packet.name }}::{{ packet.message_id.name }}() const
{
    const auto pos{ m_positions.at("{{ packet.message_id.name }}") };
    {{ type_helper.value_type(packet.message_id) }} retval{};
    memcpy(&retval, m_data.data() + pos, sizeof({{ type_helper.value_type(packet.message_id) }}));
    return vrtgen::swap::from_be(retval);
}

void {{ packet.name }}::{{ packet.message_id.name }}(const {{ type_helper.value_type(packet.message_id) }} value)
{
    auto swapped{ vrtgen::swap::to_be(value) };
    const auto pos{ m_positions.at("{{ packet.message_id.name }}") };
    memcpy(m_data.data() + pos, &swapped, sizeof(swapped));
}
{% endmacro %}