/*#
 * Copyright (C) 2023 Geon Technologies, LLC
 *
 * This file is part of vrtgen.
 *
 * vrtgen is free software: you can redistribute it and/or modify it under the
 * terms of the GNU Lesser General Public License as published by the Free
 * Software Foundation, either version 3 of the License, or (at your option)
 * any later version.
 *
 * vrtgen is distributed in the hope that it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for
 * more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program.  If not, see http://www.gnu.org/licenses/.
#*/

{%- macro header_def(packet, type_helper) %}
{% set field = packet.header %}
auto {{ packet.name }}::{{ field.name }}() const -> const {{ type_helper.value_type(field) }}&
{
    return m_{{ field.name }};
}
{% endmacro %}

{%- macro packet_count_def(packet, type_helper) %}
{% set field = packet.header.packet_count %}
auto {{ packet.name }}::{{ field.name }}() const -> {{ type_helper.value_type(field) }}
{
    return m_header.packet_count();
}

auto {{ packet.name }}::{{ field.name }}(const {{ type_helper.value_type(field) }} value) -> void
{
    m_header.packet_count(value);
    m_header.pack_into(m_data.data());  
}
{% endmacro %}

{%- macro tsm_def(packet, type_helper) %}
{% set field = packet.header.tsm %}
auto {{ packet.name }}::{{ field.name }}() const -> {{ type_helper.value_type(field) }}
{
    return m_header.tsm();
}

auto {{ packet.name }}::{{ field.name }}(const {{ type_helper.value_type(field) }} value) -> void
{
    m_header.tsm(value);
    m_header.pack_into(m_data.data());  
}
{% endmacro %}

{%- macro function_defs(packet, type_helper) %}
{{ header_def(packet, type_helper) | trim }}

{{ packet_count_def(packet, type_helper) | trim }}

{%   if packet.is_context and packet.header.tsm.value.value == 0b111 %}
{{ tsm_def(packet, type_helper) | trim }}
{%   endif %}
{% endmacro %}