add_library(src
{% for packet in packets %}
    {{ packet.name | to_snake }}.cpp
{% endfor %}
)

target_include_directories(src
    PUBLIC ${CMAKE_CURRENT_SOURCE_DIR}/../include)
target_link_libraries(src)