add_executable({{ project_name }} main.cpp)
target_link_libraries({{ project_name }} PUBLIC packetlib)
target_include_directories({{ project_name }} PUBLIC
    ${vrtgen_INCLUDE_DIR}
    ${CMAKE_SOURCE_DIR}/include/packets
)