/*#
 * Copyright (C) 2023 Geon Technologies, LLC
 *
 * This file is part of vrtgen.
 *
 * vrtgen is free software: you can redistribute it and/or modify it under the
 * terms of the GNU Lesser General Public License as published by the Free
 * Software Foundation, either version 3 of the License, or (at your option)
 * any later version.
 *
 * vrtgen is distributed in the hope that it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for
 * more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program.  If not, see http://www.gnu.org/licenses/.
#*/
{% for packet in packets %}
#include <{{packet.name | to_snake}}.hpp>
{% endfor %}
{% if namespace_ %}

using namespace {{ namespace_}}::packets;
{% endif %}

auto main() -> int
{
{% for packet in packets %}
{%   if packet.is_ack %}
{%     if packet.cam.ack_v.enabled %}
    auto {{ packet.name | to_snake }}_v = {{ packet.name }}VX{};
{%     endif %}
{%     if packet.cam.ack_x.enabled %}
    auto {{ packet.name | to_snake }}_x = {{ packet.name }}VX{};
{%     endif %}
{%     if packet.cam.ack_s.enabled %}
    auto {{ packet.name | to_snake }}_s = {{ packet.name }}S{};
{%     endif %}
{%   else %}
    auto {{ packet.name | to_snake }} = {{ packet.name }}{};
{%   endif %}
{% endfor %}
    return 0;
}
